/* Menu Item Styles */

.navigation-primary a {
  color: #00326D;
  font-weight: 800;
  text-decoration: none;
}

.navigation-primary a:hover,
.navigation-primary a:focus {
  color: #000a45;
}

.navigation-primary a:active {
  color: #285a95;
}

/* Active Menu Item Styles */

.navigation-primary a.active-item {
  position: relative;
}

.navigation-primary .submenu.level-1 > li > a.active-item:after {
  background-color: #00326D;
  bottom: -3px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
}

@media (max-width: 767px) {
  .navigation-primary .submenu.level-1 > li > a.active-item:after {
    display: none;
  }
}

/* Menu */

.submenu {
  float: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .submenu {
    display: none;
  }

  input[type="checkbox"]:checked ~ .submenu {
    display: block;
  }

  .submenu > .has-submenu {
    position: relative;
  }

  .submenu > li > a {
    display: block;
    width: 100%;
  }

  .submenu > .has-submenu > a {
    width: 80%;
  }
}

/* Top Level Menu */

.submenu.level-1 {
  display: inline-block;
}

.submenu.level-1 > li {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.submenu.level-1 > li:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .submenu.level-1 > li {
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .submenu.level-1 {
    width: 100%;
  }

  .submenu.level-1 > li {
    display: block;
    margin-right: 0.7rem 0;
    padding: 0;
    width: 100%;
  }

  .submenu.level-1 > li > a {
    padding: 10px 30px;
  }
}

/* Child Menus */

.submenu.level-2 {
  background-color: #FFF;
  border: 1px solid #EFF7FF;
  box-shadow: 0 23px 50px -14px rgba(0,0,0,0.21);
  left: -9999px;
  opacity: 0;
  position: absolute;
  top: 100%;
  width: 220px;
  z-index: 2;
}

.submenu.level-1 > li:hover .submenu.level-2,
.submenu.level-1 > li.focus .submenu.level-2 {
  left: 0;
  opacity: 1;
}

.submenu.level-1 > li:hover:last-child .submenu.level-2,
.submenu.level-1 > li.focus:last-child .submenu.level-2 {
  left: auto;
  right: 0;
}

.submenu.level-2 .menu-item {
  margin: 0;
  position: relative;
}

.submenu.level-2 .menu-link {
  display: block;
  padding: 10px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submenu.level-2 .menu-link:hover,
.submenu.level-2 .menu-link:focus {
  background-color: #EFF7FF;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

@media (max-width: 767px) {
  .submenu.level-2 {
    border: none;
    box-shadow: none;
    opacity: 1;
    position: static;
    visibility: visible;
    width: 100%;
  }

  .submenu.level-2 .menu-link {
    padding: 10px 50px;
  }

  .submenu.level-2 .menu-link:hover {
    background-color: inherit;
  }

  .submenu li {
    margin: 0.7rem 0;
  }
}

@media (min-width: 767px) {
  .submenu.level-3 {
    background-color: #FFFFFF;
    left: -9999px;
    opacity: 0;
    position: absolute;
    top: 5%;
    width: 100%;
  }

  .submenu.level-2 .menu-item:hover .submenu.level-3,
  .submenu.level-2 .menu-item.focus .submenu.level-3 {
    left: 100%;
    opacity: 1;
    z-index: 1;
  }

  .submenu.level-1 > li:hover:last-child .submenu.level-2 .menu-item:hover .submenu.level-3,
  .submenu.level-1 > li.focus:last-child .submenu.level-2 .menu-item.focus .submenu.level-3 {
    left: auto;
    right: 100%;
  }
}


.submenu.level-3 .menu-link {
  padding-left: 30px;
}

@media (max-width: 767px) {
  .submenu.level-3 .menu-link {
    padding: 10px 70px;
  }
}

/* Mobile Navigation Toggles */

.submenu-toggle,
#nav-toggle,
.header__navigation-toggle,
.menu-child-toggle-icon {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__navigation-toggle,
  .menu-child-toggle-icon {
    cursor: pointer;
    display: block;
  }

  .header__navigation-toggle svg,
  .menu-arrow svg {
    fill: #00C6AB;
  }

  #nav-toggle:checked ~ .header__navigation {
    display: block;
  }

  .header__mobile-menu-open-icon {
    display: block;
  }

  .header__mobile-menu-close-icon {
    display: none;
  }

  #nav-toggle:checked+.header__navigation-toggle .header__mobile-menu-open-icon {
    display: none;
  }

  #nav-toggle:checked+.header__navigation-toggle .header__mobile-menu-close-icon {
    display: block;
  }

  .menu-arrow {
    border: none;
    cursor: pointer;
    padding: 10px 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
  }

  input[type="checkbox"]:checked ~ .menu-arrow svg {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    transition: transform .4s,-webkit-transform .4s;
  }
}

/* HubSpot Editor Styles */

.hs-inline-edit .submenu.level-1 > li.has-submenu:hover .submenu.level-2,
.hs-inline-edit > li.has-submenu.focus .submenu.level-2 {
  visibility: hidden;
}