<!--
  templateType: page
  isAvailableForNewContent: true
  label: Home Page
-->
{% extends './layouts/base.html' %}

{% block body %}
<main>
  {% dnd_area 'dnd_area_main_banner' label='Main Content' %}

    {# Banner Section #}
    {% dnd_section
      background_image= {
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/home-banner.png')
      },
      vertical_alignment='MIDDLE'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path='@hubspot/rich_text' %}
            {% module_attribute 'html' %}
              <div style="text-align: center;">
                <h1 style="color: #ffffff">Our Portfolio</h1>
              </div>
            {% end_module_attribute %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
    {# End Banner Section #}

    {# Featured real-estate listing #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/featured-real-estate-listing",
            default={
              id: 13410149
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

    {# All real-estate listings #}
    {% dnd_section %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module path="../modules/all-real-estate-listings"
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}

  {% end_dnd_area %}
</main>


{% endblock body %}
