{##
## Tables
##}

 table {
    background-color: #FFF;
    border: 1px solid #D2E9FC;
    border-spacing: 0;
    margin-bottom: 1rem;
  }
  
  th,
  td {
    border: 1px solid #D2E9FC;
    padding: 15px;
    vertical-align: top;
  }

  tr:nth-child(odd) {
    background-color: #EFF7FF;
  }

  thead th,
  thead td {
    color: #FFF;
    background-color: #00326D;
    border: none;
    border-bottom-width: 2px;
  }

  thead th {
    border-bottom: none;
    vertical-align: bottom;
  }

  tbody + tbody {
    border-top: none;
  }

/* Table Footer */

tfoot td {
  background-color: #FFF;
  color: #00326D;
}