{% set property_id = request.query_dict.property %}

{% if property_id %}
  {% set property = crm_object("property-listing", property_id, "address, bedrooms, bathrooms, description, property_image, price, square_feet") %}
  {% if property.address %}
    <div>
      <div class="details-header--container">
        <span class="details-header">
          Featured Property
        </span>
      </div>
      <div class="details-address--container">
        <div class="details-address">
          {{property.address}}
        </div>
      </div>
      <div class="details-image--container">
        <img src="{{ property.property_image }}" class="details-image">
      </div>
      <div class="details-specifics--container">
        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Price
          </div>
          <div class="details-specifics">
           ${{property.price}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Beds
          </div>
          <div class="details-specifics">
           {{property.bedrooms}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Baths
          </div>
          <div class="details-specifics">
           {{property.bathrooms}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Square Feet
          </div>
          <div class="details-specifics">
           {{property.square_feet}}
          </div>
        </div>
      </div>
      <div class="details-description--container">
        <div class="details-description">
          {{property.description}}
        </div>
      </div>
      <div class="property-interest">
        <button class="property-interest__request">Request a viewing</button>
        <div class="property-interest__modal" style="display: none;">
          <h2>Request a viewing</h2>
          <form id="property_interest_form">
            <input type="text" name="email">
            <input type="text" name="firstName">
            <input type="text" name="lastName">
            <input type="hidden" name="propertyId" value="{{ request.query_dict.property }}">
            <input type="hidden" name="formId" value="983e2fc8-9673-4283-b4ca-da0eb4160a9b">
            <input type="button" id="submit" value="GO">
          </form>

          <div class="property-interest__message" style="display: none;">
            SOLD! Just kidding, but you've been added to the list.
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="error">
      No property found!
    </div>
  {% endif %}
{% else %}
  <div class="error">
    No property information provided!
  </div>
{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" integrity="sha512-quHCp3WbBNkwLfYUMd+KwBAgpVukJu5MncuQaWXgCrfgcxCJAq/fo+oqrRKOj+UKEmyMCG3tb8RB63W+EmrOBg==" crossorigin="anonymous"></script>
<script>
var propertyInterest = document.querySelector('.property-interest');
var submissionForm = propertyInterest.querySelector('#property_interest_form');
var messageContainer = propertyInterest.querySelector('.property-interest__message');
var requestModal = propertyInterest.querySelector('.property-interest__modal');
var requestButton = propertyInterest.querySelector('.property-interest__request');

requestButton.addEventListener('click', function() {
  requestModal.style.display = 'block';
});

var processSubmission = function() {
  var SUBMISSION_ENDPOINT = "/_hcms/api/submit";

  var serializeForm = function (form) {
    var obj = {};
    var formData = new FormData(form);
    for (var key of formData.keys()) {
      obj[key] = formData.get(key);
    }
    return obj;
  };

  var handleFormSuccess =  function() {
    submissionForm.style.display = 'none';
    messageContainer.style.display = 'block';
  }

  axios.post(SUBMISSION_ENDPOINT, serializeForm(submissionForm))
  .then(function (response) {
    if (response.data.statusCode === 200) {
      handleFormSuccess();
    }
  })
  .catch(function (error) {
    console.log(error);
  });
}

submissionForm.querySelector('#submit').addEventListener('click', function() {
  processSubmission();
});

</script>
