{{ require_js('https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js') }}
{% set realestate_id = request.query_dict.realestate %}

{% if realestate_id %}
  {% set estate = crm_object("realestate", realestate_id, "address, bedrooms, bathrooms, description, real_estate_image, price, square_feet") %}
  {% if estate.address %}
    <div>
      <div class="details-header--container">
        <span class="details-header">
          Featured Real Estate
        </span>
      </div>
      <div class="details-address--container">
        <div class="details-address">
          {{estate.address}}
        </div>
      </div>
      <div class="details-image--container">
        <img src="{{ estate.real_estate_image }}" class="details-image">
      </div>
      <div class="details-specifics--container">
        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Price
          </div>
          <div class="details-specifics">
           ${{estate.price}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Beds
          </div>
          <div class="details-specifics">
           {{estate.bedrooms}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Baths
          </div>
          <div class="details-specifics">
           {{estate.bathrooms}}
          </div>
        </div>

        <div class="details-specifics-item">
          <div class="details-specifics--header">
            Square Feet
          </div>
          <div class="details-specifics">
           {{estate.square_feet}}
          </div>
        </div>
      </div>
      <div class="details-description--container">
        <div class="details-description">
          {{estate.description}}
        </div>
      </div>
      <div class="real-estate-interest">
        <button class="real-estate-interest__request">Request a viewing</button>
        <div class="real-estate-interest__modal" style="display: none;">
          <button class="real-estate-interest__close-modal">{% icon name="times" set="fontawesome-5" style="solid" format="svg" width="22" height="22", purpose="semantic", title="address-card icon" %}</button>
          <h2>Request a viewing</h2>
          <form id="real-estate_interest_form" class="real-estate-interest__form">
          <label for="email">Email</label>
            <input type="text" name="email">

            <label for="firstName">First name</label>
            <input type="text" name="firstName">

            <label for="lastName">Last name</label>
            <input type="text" name="lastName">

            <input type="hidden" name="realEstateId" value="{{ request.query_dict.realestate }}">
            <input type="hidden" name="formId" value="{{ module.form.form_id }}">
            <input type="button" id="submit" class="real-estate-interest__submit" value="Submit">
          </form>

          <div class="real-estate-interest__message" style="display: none;">
            {{ module.form.message }}
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="error">
      No real estate found!
    </div>
  {% endif %}
{% else %}
  <div class="error">
    No real estate information provided!
  </div>
{% endif %}
