{# Theme Styles/Defaults #}

{#
## Tools
## Any animations, or functions used throughout the project.
## Note: _macros.css needs to be imported into each stylesheet where macros are used and not included here
#}


{#
## Generic
## This is where reset, normalize & box-sizing styles go.
#}

{% include './generic/_reset.css' %}
{% include './generic/_normalize.css' %}

{#
## Objects
## Non-cosmetic design patterns including grid and layout classes)
#}

{% include './objects/_layout.css' %}
{% include './objects/_containers-dnd.css' %}


{#
## Elements
## Base HMTL elements are styled in this section (<body<, <h1>, <a>, <p>, <button> etc.)
#}

{% include './elements/_typography.css' %}
{% include './elements/_buttons.css' %}
{% include './elements/_forms.css' %}
{% include './elements/_tables.css' %}

{#
## Components
## Specific pieces of UI that are stylized. Typically used for global partial styling
#}

{% include './components/_header.css' %}
{% include './components/_footer.css' %}

{#
## Template Specific
## Styles applied to specific template types (system pages, blog, etc.)
#}

{% include './templates/_blog.css' %}
{% include './templates/_system.css' %}

{#
## Module Specific
## Styles applied to specific modules (All Property Listings, Featured Property Listings)
#}

{% include './modules/_modules.css' %}

{#
## Helpers
## Contains anything that overrides all other layers, utility and helper classes, browser specific fixes, and other overrides.
#}
