/* all-property-listings module styling */

@media (min-width: 1209px) {
  .property-list {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }

  .property-list-item {
    width: 50%;
  }
}

.property-image {
  height: 310px;
  width: 450px;
}

.property-address {
  font-size: 20px;
  margin-top: 12px;
}

.property-price {
  margin-bottom: 15px;
  font-size: 13px;
}

.property-price--header {
  color: #dcceca;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.property-details-link--container {
  margin-bottom: 80px;
}

.property-details-link {
  background-color: #000000;
  font-size: 12px;
  margin-bottom: 20px;
  padding: 5px 15px;
}

/* featured-property-listing module styling */

@media (min-width: 1209px) {
  .listing {
    display: flex;
    font-family: "Avenir Next Demi Bold", Avenir, Times;
    margin: 0 auto;
    width: 80%;
  }

  .listing-col {
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-right: 50px;
  }
}

.listing-image {
  height: 310px;
  width: 450px;
}

.listing-header--container {
  margin-top: 8px;
}

.listing-header {
  background-color: #d8b6b4;
  color: #f9f7f7;
  padding: 8px;
}

.listing-address {
  font-size: 20px;
  margin-top: 5px;
}

.listing-property-details {
  font-size: 13px;
  margin-bottom: 15px;
}

.listing-property-details--header {
  color: #dcceca;
  letter-spacing: 0.1px;
  text-transform: uppercase;
}

.listing-details-link--container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.listing-details-link {
  background-color: #000000;
  padding: 8px 35px;
}

/* property-details module styling */

.details-header--container {
  display: flex;
  justify-content: center;
}

.details-header {
  background-color: #d8b6b4;
  color: #f9f7f7;
  padding: 8px;
}

.details-address--container {
  display: flex;
  justify-content: center;
  margin: 15px auto 25px;
}

.details-address {
  font-size: 30px;
  font-weight: bolder;
}

.details-image--container {
  display: flex;
  justify-content: center;
}

.details-image {
  width: 60%;
  height: auto;
}

@media (min-width: 1209px) {
  .details-specifics--container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1208px) {
  .details-specifics--container {
    text-align: center;
  }
}

.details-specifics-item {
  margin: 50px 30px;
}

.details-specifics--header {
  color: #dcceca;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.details-specifics {
  font-weight: bolder;
}

.details-description--container {
  display: flex;
  justify-content: center;
}

.details-description {
  width: 40%;
}

.error {
  font-size: 30px;
  text-align: center;
}

.property-interest__modal {
  max-width: 660px;
  width: 90%;
  height: 500px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 5px;
}

.property-interest__modal h2 {
  text-align: center;
}

.property-interest__modal form {
  background-color: transparent;
  padding: 0;
  max-width: 600px;
}

.property-interest__modal input {
  margin-bottom: 20px;
}

.property-interest__close-modal {
  background-color: transparent;
  color: #fff;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}

.property-interest__message {
  font-size: 20px;
  text-align: center;
  margin-top: 80px;
}
