/* Footer Container */

.footer {
  background-color: #00326D;
}

.footer__container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 5.6rem 20px 2.8rem;
}

/* Footer Typography */

.footer h1,
.footer h2,
.footer h3,
.footer h4,
.footer h5,
.footer h6
.footer p,
.footer a,
.footer div,
.footer span {
  color: #FFFFFF;
}

/* Footer Rows */

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__navigation {
  width: 22%;
}

.footer__navigation ul {
  list-style: none;
  padding-left: 0;
  margin: 0.5rem 0 2rem;
}

.footer__navigation li {
  margin: 0.7rem 0;
}

.footer__form {
  width: 25%;
}

@media (max-width: 767px) {
  .footer__row {
    flex-wrap: wrap;
  }

  .footer__navigation,
  .footer__form,
  .footer__follow-me {
    text-align: center;
    width: 100%;
  }
}

/* Footer Navigation */

.footer__navigation ul {
  list-style: none;
  padding-left: 0;
}

/* Footer Form */

.footer__form form {
  padding: 0;
  margin-bottom: 1.5rem;
}

/* Landing Page Footer */

.footer.footer--landing-page {
  background-color: #FFF;
  border-top: 2px solid #EFF7FF;
}

.footer.footer--landing-page .footer__container {
  margin: 0 auto;
  max-width: 1300px;
  padding: 2.8rem 0 1.5rem;
}

.footer.footer--landing-page * {
  color: #00326D;
}

/* Footer Form */

.footer .footer__form form {
  background-color: transparent;
  border: none;
  padding: 0;
}

.footer .footer__form label {
  color: #FFFFFF;
}

.footer__form .form-title {
  font-size: 1rem;
  color: #FFFFFF;
  background-color: transparent;
  padding: 0 0 1rem 0;
  text-align: left;
}

@media (max-width: 980px) {
  .footer .footer__form {
    clear: both;
    float: none;
    width: 75%;
    margin: 0 auto;
    padding: 0.75rem 0 0;
  }

  .footer .footer__form .form-title {
    text-align: center;
  }
}