/* Blog Container */

.content-wrapper {
  margin: 0px auto;
  max-width: 1300px;
  padding: 0px 20px;
}

.content-wrapper--narrow {
  max-width: 890px;
}

/* Blog Header */

.blog-header {
  background-color: #FFFFFF;
  margin-bottom: 2.8rem;
  padding: 4.2rem 0 1.5rem;
}

.blog-header__title {
  text-align: center;
}

.blog-header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 3rem;
}

.blog-header__tag-filter,
.blog-header__search {
  width: 50%;
}

.blog-header__search {
  background-color: transparent;
  border: none;
  margin-left: auto;
  max-width: 300px;
  padding: 0;
}

.blog-header__search form {
  background-color: transparent;
  border: 0;
  padding: 0;
}

@media (max-width: 767px) {
  .blog-header__navigation {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog-header__tag-filter,
  .blog-header__search {
    width: 100%;
  }
  .blog-tag-filter,
  .blog-header__search {
      margin: 0 auto 1.5rem;
  }
}

/* Blog Author/Tag Content */
.blog-subheader {
  margin: 3rem 0;
}

.blog-subheader__author-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.blog-subheader__author-links a {
  display: inline-block;
  position: relative;
  background-color: #00C6AB;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.blog-subheader__author-links a:first-of-type {
  margin-left: 0;
}

.blog-subheader__author-links a:hover {
  background-color: #00A18B;
}

.blog-subheader__author-links a svg {
  fill: #fff;
  height: 15px;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Blog Listing */

.blog-card {
  border: 2px solid #EFF7FE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.8rem;
  padding: 1.5rem 0;
  width: 100%;
}

@media (max-width: 767px) {
  .blog-card {
    padding: 0 0 1.5rem 0;
  }
}

.blog-card__image-wrapper,
.blog-card__content {
  width: 50%;
}

@media (max-width: 767px) {
  .blog-card__content {
    padding: 1.5rem 1.5rem 0;
  }
}

.blog-card__content--full-width {
  width: 100%;
}

.blog-card__image-wrapper {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100%;
  margin: 0 30px;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .blog-card__image-wrapper {
    margin: 0;
    width: 100%;
  }
}

.blog-card__image {
  height: auto;
  position: absolute;
  width: 100%;
}

@media(max-width: 767px) {
  .blog-card__image {
    position: static;
  }
}

.blog-card__content {
  margin: 0 30px;
}

.blog-card__title a {
  color: #00326D;
  font-weight: inherit;
}

.blog-card__title a:hover,
.blog-card__title a:focus {
  color: #000a45;
  text-decoration: none;
  font-weight: inherit;
}

.blog-card__title a:active {
  color: #00326D;
}

.blog-card__tags {
  border-bottom: 2px solid #EFF7FE;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
}

.blog-card__tag-link,
.blog-card__tag-link:hover {
  font-weight: 300;
}

@media(max-width: 767px) {
  .blog-card {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog-card__content {
    width: 100%;
  }

  .blog-card__content {
    margin-left: 0;
  }
}

.blog-card__author-image,
.blog-post__author-image {
  background-size: cover;
  border-radius: 50%;
  height: 45px;
  margin-right: 10px;
  width: 45px;
}

.blog-card__author-image,
.blog-post__author-name {
  display: inline-block;
  vertical-align: middle;
}

.blog-post__author-name,
.blog-post__author-links {
  margin-bottom: 1rem;
}

.blog-post__author-links a:not(:last-of-type) {
  margin-right: 0.5rem;
}

.blog-post__author-links a:hover {
  text-decoration: none;
}

.blog-post__author-links svg {
  fill: #00326D;
}

.blog-post__author-links a:hover svg {
  fill: #00c6ab;
}



.blog-card__author {
  display: block;
  margin-bottom: 1.5rem;
}

/* Blog Pagination */

.blog-pagination {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 2.8rem;
  text-align: center;
}

.blog-pagination__link {
  color: #00326D;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0 0.35rem;
  padding: 0.35rem 0.7rem;
  text-decoration: none;
}

.blog-pagination__link--active {
  background-color: #00C6AB;
  border-radius: 50%;
  color: #FFFFFF;
}

.blog-pagination__link:hover,
.blog-pagination__link:focus {
  color: #00326D;
  text-decoration: none;
}

.blog-pagination__link--active:hover,
.blog-pagination__link--active:focus {
  color: #FFFFFF;
}

.blog-pagination__prev-link,
.blog-pagination__next-link {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.blog-pagination__prev-link {
  margin-right: 0.25rem;
  text-align: right;
}
.blog-pagination__next-link {
  margin-left: 0.25rem;
  text-align: left;
}

.blog-pagination__prev-link--disabled,
.blog-pagination__next-link--disabled {
  color: #D0D0D0;
  cursor: default;
  pointer-events: none;
}

.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: #00326D;
  margin: 0 5px;
}

.blog-pagination__link:hover svg,
.blog-pagination__link:focus svg {
  fill: #00326D;
}

.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: #D0D0D0;
}

/* Blog Post */

.blog-post {
  margin-top: 60px;
  position: relative;
}

.blog-post__header {
  margin-bottom: 1.5rem;
}

.blog-post__tags {
  margin-bottom: 0.7rem;
}

.blog-post__tag-link {
  display: inline-block;
  margin-right: 30px;
}

.blog-post__tag-link:hover,
.blog-post__tag-link:focus,
.blog-post__tag-link:active {
  text-decoration: none;
}

.blog-post__meta {
  margin-bottom: 1.5rem;
}

.blog-post__date {
  display: inline-block;
  margin-right: 10px;
  padding-right: 10px;
  border-right: 2px solid;
}

.blog-post__author-name:hover,
.blog-post__author-name:focus,
.blog-post__author-name:active {
  text-decoration: none;
}

.blog-post__image {
  height: 200px;
  width: 100%;
  border-radius: 18px;
  position: relative;
  margin: 3rem 0;
}

@media screen and (min-width: 786px) {
  .blog-post__image {
    height: 420px;
  }
}

.blog-post__comments-listing {
  margin-bottom: 5.6rem;
}

.comment {
  padding-top: 2em;
}

#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus,
#comments-listing .comment-reply-to:active {
  background-color: transparent;
  border: none;
}

@media screen and (min-width: 1300px) {
  .blog-post__social-sharing .social-links {
      display: inline-flex;
      flex-direction: column;
  }
  .blog-post__social-sharing {
    text-align: left;
    margin-bottom: 0;
    position: absolute;
    left: -7rem;
    top: 9rem;
  }
}

.blog-post__author {
  display: flex;
  margin: 75px 0;
}

@media screen and (max-width: 1000px) {
  .blog-post__author {
    margin: 3rem 0;
    flex-direction: column;
  }
}

.blog-post__author-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
  flex: 0 0 auto;
}

.blog-post__author-image img {
  height: 100%;
  width: auto;
}

.blog-post__author-image ~ .blog-post__author-about {
  margin-left: 35px;
}

@media screen and (max-width: 1000px) {
  .blog-post__author-image ~ .blog-post__author-about {
    margin-left: 0;
    margin-top: 1.5rem;
  }
}

.blog-post__author-links {

}