/* Error Pages */

.error-page {
  padding: 10rem 0;
  position: relative;
  text-align: center;
}

.error-page:before {
  color: #F3F6F9;
  content: attr(data-error);
  font-size: 40vw;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: -1;
}

@media screen and (min-width: 1100px) {
  .error-page:before {
    font-size: 20rem;
  }
}

.error-page__heading {
  margin-bottom: 1rem;
}

/* System Pages */

.systems-page {
  padding: 3rem 20px;
  max-width: 600px;
  margin: 0 auto;
}

.systems-page .success {
  background-color: #CDE3CC;
  border: 1.5px solid #4F7D24;
  border-radius: 6px;
  color: #4F7D24;
  display: inline-block;
  margin: 2rem 0;
  min-width: 650px;
  padding: 0.1rem 0.75rem;
}

.systems-page form input {
  max-width: 100%;
}

form#email-prefs-form {
  max-width: none;
}

form#email-prefs-form .header {
  background-color: transparent;
}

form#email-prefs-form input#submitbutton {
  max-width: 400px;
  white-space: unset;
  line-height: 1.25rem;
}

/* Search Pages */

.hs-search-field__bar {
  position: relative;
}

.hs-search-field__suggestions {
  background-color: #FFF;
  max-width: 360px;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
}

.hs-search-results {
  margin-top: 2rem;
}

.hs-search-results__listing li {
  margin-bottom: 2rem;
}

.hs-search-results__pagination a {
  color: #00326D;
}

.hs-search-results__title {
  color: #00326D;
  font-family: Nunito Sans, sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  text-decoration: underline;
}

.hs-search-results__title:hover {
  text-decoration: none;
}

.hs-search-results__description {
  padding-top: 0.5rem;
}

.hs-search-highlight {
  font-weight: bold;
}

/* Password Prompt */

.password-prompt input[type=password] {
  height: auto !important;
  margin-bottom: 1.55rem;
}

/* Backup Unsubscribe */

.backup-unsubscribe #email-prefs-form div {
  padding-bottom: 0 !important;
}

.backup-unsubscribe input[type=email] {
  margin-bottom: 1.55rem;
  padding: 15px 12px !important;
}

#email-prefs-form, 
#email-prefs-form h1, 
#email-prefs-form h2 {
  color: #ffffff;
}